---
title: "Open Source"
layout: data-carousel
permalink: "/open-source"
content_override: "This page is dedicated to listing out various Open-Source projects that I manage / offer. Check back
here often, because you never know when something new will get added.
<br /><br />
Enjoy!"
---

{% assign columns = 3 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% assign projects = site.data.opensource.details.projects | sort: 'opened_date' | reverse %}

<div class="section bg-base-bg-2">
  <div class="container">
    <div class="row">

      {% include framework/blocks/components/grid-header.html
      heading="Projects"
      %}

      {% for project in projects %}
      <div
        class="col-12 col-md-4 {{ columns }}{% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mb-3 mb-md-6">
        {% include theme/cards/card-post.html
        title=project.name
        path=site.data.opensource.details.root_image_dir
        description=project.description
        image=project.cover_image
        url=project.url
        categories=project.categories
        category_dont_link=true
        date=project.opened_date
        type="project"
        show_full_description=true
        %}
      </div>
      {% endfor %}
    </div>

  </div>
</div>