{% assign category_name = include.category_name %}
{% assign show_count = include.show_count | default: false %}
{% assign category_slug = category_name | slugify %}
{% assign dont_link = include.dont_link %}
{% capture category_url %}{{ site.baseurl }}/{{ site.category_dir }}/{{ category_slug }}{% endcapture %}

<div class="category-link">

  {% if dont_link %}
  <span>{{ category_name }}</span>
  {% else %}
  <a href="{{ category_url | strip | relative_url }}">
    {{ category_name }}
  </a>
  {% endif %}

  {% if show_count %}
  <span>({{site.categories[category_name].size}})</span>
  {% endif %}
</div>